{% extends 'base.html' %}
{% block content %}
{% load shuffle %}
{% load static %}
{% load bootstrap3 %}
{% load get_list %}


<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                <div class="filter-widget">
                    <h4 class="fw-title">所有分類</h4>
                    <ul class="filter-catagories">
                      {% for category in categories %}
                        <li><a href="{% url 'products:categories' category.pk %}">{{ category.slug }}</a></li>
                      {% endfor %}
                    </ul>
                </div>
                <form action="{% url 'products:categories' category.pk %}" method="GET">
                  <div class="filter-widget">
                      <h4 class="fw-title">電商平台</h4>
                      <div class="fw-brand-check">
                          <div class="bc-item">
                            <li><a href="{% url 'products:categories' category.pk %}">全部商品</a></li>
                            <!-- {{ sourceform.as_p }} -->
                              {% for field in sourceform.source %}
                              <label for="{{ field.id_for_label }}">
                                {{ field }}
                                <span class='checkmark'></span>

                              </label>
                              {% endfor %}
                              {% if request.GET.min_price %}
                                  <input type="hidden" name="min_price" value="{{ request.GET.min_price }}">
                              {% endif %}
                              {% if request.GET.max_price %}
                                  <input type="hidden" name="max_price" value="{{ request.GET.max_price }}">
                              {% endif %}
                              <!-- {% if request.GET.filter_by %}
                              <input type="hidden" name="filter_by" value="{{ request.GET.filter_by }}">
                              {% endif %} -->
                            <!-- <input type="submit" name="sourceSubmit" value="套用"> -->
                          </div>
                      </div>
                  </div>
                </form>
              <form class="" action="{% url 'products:categories' category.pk %}" method="GET">
                <div class="filter-widget">
                    <h4 class="fw-title">價格範圍</h4>
                    <div class="filter-range-wrap">
                        <div class="range-slider">
                            <div class="price-input">
                                {{ priceform }}
                            </div>
                        </div>
                        <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                            data-min="1" data-max="9999">
                            <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                        </div>
                    </div>
                    <input type="submit" name="" value="套用">
                </div>
              </form>

            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="product-show-option">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                          <form action="{% url 'products:categories' category.pk %}" method="GET">
                            <div class="select-option">
                              {{ sortingform }}
                                <!-- <select name="sort" class="sorting">
                                    <option value="priceAsc">價格-低到高</option>
                                    <option value="priceDesc">價格-高到低</option>
                                    <option value="">到貨時間-快到慢</option>
                                    <option value="">到貨時間-慢到快</option>
                                    <option value="">可靠性評估-高到低</option>
                                    <option value="">可靠性評估-低到高</option>
                                </select> -->
                                <!-- <input type="submit" name="sortSubmit" value="套用"> -->
                                {% if request.GET.source %}
                                  {% for sources in request.GET|get_list:'source' %}
                                    <input type="hidden" name="source" value="{{ sources }}">
                                  {% endfor %}
                                {% endif %}
                                {% if request.GET.min_price %}
                                    <input type="hidden" name="min_price" value="{{ request.GET.min_price }}">
                                {% endif %}
                                {% if request.GET.max_price %}
                                    <input type="hidden" name="max_price" value="{{ request.GET.max_price }}">
                                {% endif %}
                            </div>

                          <input type="image" src="{% static 'img/block.png' %}" width="25px"
                              style="margin-top:10px; margin-left: 10px;"></input>
                          <input type="image" src="{% static 'img/straight.png' %}" width="25px"
                              style="margin-top:10px; margin-left: 15px;"></input>
                        </div>
                        <div class="col-lg-5 col-md-5 product-page-controller text-right">

                            <p>
                                <span class="current-page-number">{{ product_list.number }}</span>
                                /
                                <span class="total-page-number">{{ product_list.paginator.num_pages }}</span>
                            </p>
                            {% if product_list.has_previous %}
                            <a href="?{% url_replace next_page=product_list.previous_page_number %}"  class="page-prev">&lt;</a>
                            {% else %}
                            <a class="page-prev">&lt;</a>
                            {% endif %}
                            {% if product_list.has_next %}
                            <a href="?{% url_replace next_page=product_list.next_page_number %}" class="page-next">&gt;</a>
                            {% else %}
                            <a class="page-next">&gt;</a>
                            {% endif %}

                        </div>
                        <div class="col-lg-5 col-md-5 text-right">
                            <p>Show {{ product_list.start_index }} - {{ product_list.end_index }} Of {{ products.count }} products</p>
                        </div>
                    </div>
                </div>
<div class="product-list" id="block-sorting">
    <div class="row">
      {% for product in product_list %}
      <div class="col-lg-3 col-sm-6">
          <div class="product-item">
              <div class="pi-pic">
                  <a href="{{ product.get_absolute_url }}"><img src="{{ product.product_images }}" alt="image"></a>
                  <div class="sale pp-sale">{{ product.pk }}</div>
                  <div class="icon">
                      <i class="icon_heart_alt"></i>
                  </div>
                  <ul>
                      <li class="quick-view"><a href="{{ product.product_url }}">前往網站瀏覽</a></li>
                  </ul>
              </div>
              <div class="pi-text">
                  <a href="{{ product.get_absolute_url }}">
                      <h5>{{ product.product_name|truncatechars:20 }}</h5>
|                  </a>
                  {% if product.product_source.slug == "Ruten" %}
                  <div class="catagory-name">露天拍賣</div>
                  {% endif %}
                  {% if product.product_source.slug == "Shopee" %}
                  <div class="catagory-name">蝦皮購物</div>
                  {% endif %}
                  {% if product.product_source.slug == "Yahoo" %}
                  <div class="catagory-name">Yahoo拍賣</div>
                  {% endif %}
                  {% if product.product_source.slug == "ETMall" %}
                  <div class="catagory-name">東森購物</div>
                  {% endif %}
                  {% if product.product_source.slug == "Momo" %}
                  <div class="catagory-name">Momo購物</div>
                  {% endif %}
                  <div class="product-price">
                      ${{ product.product_price }}
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
      {% if not product_list %}
        <h1>It's Empty</h1>
      {% endif %}
    </div>
</div>

<div class="col-md-12 col-lg-12 product-bottom-page-controller text-center">
    {% if product_list.has_previous %}
    <a href="?{% url_replace next_page=product_list.previous_page_number %}">&lt;</a>
    {% endif %}
        {% for pg in page_range %}
            {% if product_list.number == pg %}
                <a href="?{% url_replace next_page=pg %}" class="page-button-1 current">{{pg}}</a>
            {% else %}
                <a href="?{% url_replace next_page=pg %}" class="page-button-1">{{pg}}</a>
            {% endif %}
        {% endfor %}
    {% if product_list.has_next %}
        <a class="page-next" href="?{% url_replace next_page=product_list.next_page_number %}">&gt;</a>
    {% endif %}

      </div>
    </div>
  </div>
</div>


</section>
{% endblock %}
