{% extends 'base.html' %}
{% block content %}
{% load shuffle %}

      {% for product in category.products.all %}
      <div class="col-lg-4 col-sm-6">
          <div class="product-item">
              <div class="pi-pic">
                  <a href="{{ product.get_absolute_url }}"><img src="{{ product.product_images }}" alt="image"></a>
                  <div class="sale pp-sale">{{ product.pk }}</div>
                  <div class="icon">
                      <i class="icon_heart_alt"></i>
                  </div>
                  <ul>
                      <li class="quick-view"><a href="{{ product.product_url }}">前往網站瀏覽</a></li>
                  </ul>
              </div>
              <div class="pi-text">
                  <a href="{{ product.get_absolute_url }}">
                      <h5>{{ product.product_name }}</h5>
                  </a>
                  <div class="catagory-name">{{ product.product_source }}</div>
                  <div class="product-price">
                      {{ product.product_price }}

                  </div>
              </div>
          </div>
      </div>
      {% endfor %}

      {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ category.get_absolute_url }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ category.get_absolute_url }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
{% endblock %}
