{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load get_list %}

<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <a href="{% url 'index' %}"><i class="fa fa-home"></i> 首頁</a>
          <span>追蹤清單</span>
        </div>
      </div>
    </div>
  </div>
</div>

    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="following-list">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-name">商品圖片</th>
                                    <th class="product-name">商品名稱</th>
                                    <th class="">電商平台</th>
                                    <th>類別</th>
                                    <th>現在的價格</th>
                                    <th class="close-th"><button class="close-btn"><i class="ti-close"></i></button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in orders %}
                                <tr>
                                    <td class="product-img"><img src="{{ product.items.product.product_images }}" alt=""></td>
                                    <td class="product-name">
                                        <a href="{% url 'products:product_detail' product.items.product.pk %}">{{ product.items.product.product_name }}</a>
                                    </td>
                                    {% if product.items.product.product_source.source == 'Shopee' %}
                                        <td class="">蝦皮購物</td>
                                    {% endif %}
                                    {% if item.product_source.source == 'Ruten' %}
                                        <td class="">露天拍賣</td>
                                    {% endif %}
                                    {% if item.product_source.source == 'ETMall' %}
                                        <td class="">東森購物</td>
                                    {% endif %}
                                    {% if item.product_source.source == 'Yahoo' %}
                                        <td class="">Yahoo拍賣</td>
                                        {% endif %}
                                    {% if item.product_source.source == 'Momo' %}
                                        <td class="">Momo購物</td>
                                    {% endif %}
                                    <td class="">{{ product.items.product.product_category.name }}</td>
                                    <td class="current-price">{{ product.items.product.product_price }}</td>
                                    <td class="close-td"><button class="close-btn"><i class="ti-close"></i></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}