{% extends 'base.html' %}
{% block content %}
{% load shuffle %}
{% load static %}
{% load bootstrap3 %}
{% load get_list %}



<!-- content Begin -->

<div class="container filter-widget">
  <div class="home-page-section-title">
    熱門關鍵字
  </div>
  <div class="fw-tags col-lg-12">
    {% for query in queries %}
    <a href="{% url 'search:search_from_home' query.search %}">{{ query.search }}</a>
    {% endfor %}
  </div>
</div>
<div class="container" style="margin-top: 40px; margin-bottom: 40px;">
  <div class="row product-slider-row">
    <div class="col-lg-3">
      <div class="product-large set-bg" data-setbg="{% static 'img/home-hot3.jpg' %}">
        <h2>熱門商品</h2>
        <a href="#">Popular Product</a>
      </div>
    </div>
    <div class="col-lg-9 offset-lg-1 product-slider-div-1">
      <div class="product-slider owl-carousel">
        {% if recommendItems %}
        {% for item in recommendItems|shuffle %}
        <div class="product-item">
          <div class="pi-pic">
            <a href="{% url 'products:product_detail' item.pk %}">
              <img class="home-page-img" src="{{ item.product_images }}">
            </a>
            <ul>
              <li class="quick-view"><a href="{{ item.product_url }}">前往網站瀏覽</a></li>
            </ul>
          </div>
          <div class="pi-text">
            <a href="{% url 'products:product_detail' item.pk %}">
              <h5>{{ item.product_name }}</h5>
            </a>
            {% if item.product_source.source == "Shopee" %}
            <div class="catagory-name">蝦皮購物</div>
            {% endif %}
            {% if item.product_source.source == "Yahoo" %}
            <div class="catagory-name">Yahoo拍賣</div>
            {% endif %}
            {% if item.product_source.source == "Momo" %}
            <div class="catagory-name">Momo購物</div>
            {% endif %}
            {% if item.product_source.source == "ETMall" %}
            <div class="catagory-name">東森購物</div>
            {% endif %}
            {% if item.product_source.source == "Ruten" %}
            <div class="catagory-name">露天拍賣</div>
            {% endif %}
            <div class="product-price">
              ${{ item.product_price }}
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if request.user.is_authenticated %}
{% if user_item %}
  <div class="container" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="row product-slider-row">
      <div class="col-lg-9 order-2 order-lg-1 product-slider-div-2">
        <div class="product-slider owl-carousel"> 
        {% for item in user_item %}
        <div class="product-item">
          <div class="pi-pic">
            <a href="{% url 'products:product_detail' item.pk %}">
              <img class="home-page-img" src="{{ item.product_images }}">
            </a>
            <ul>
              <li class="quick-view"><a href="{{ item.product_url }}">前往網站瀏覽</a></li>
            </ul>
          </div>
          <div class="pi-text">
            <a href="{% url 'products:product_detail' item.pk %}">
              <h5>{{ item.product_name }}</h5>
            </a>
            {% if item.product_source.source == "Shopee" %}
            <div class="catagory-name">蝦皮購物</div>
            {% endif %}
            {% if item.product_source.source == "Yahoo" %}
            <div class="catagory-name">Yahoo拍賣</div>
            {% endif %}
            {% if item.product_source.source == "Momo" %}
            <div class="catagory-name">Momo購物</div>
            {% endif %}
            {% if item.product_source.source == "ETMall" %}
            <div class="catagory-name">東森購物</div>
            {% endif %}
            {% if item.product_source.source == "Ruten" %}
            <div class="catagory-name">露天拍賣</div>
            {% endif %}
            <div class="product-price">
              ${{ item.product_price }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-3 order-1 order-lg-2">
      <div class="product-large set-bg" data-setbg="{% static 'img/home-interest3.jpg' %}">
        <h2>你可能有興趣的商品</h2>
        <a href="#">Interesting product</a>
      </div>
    </div>
  </div>
{% else %}
{% endif %}
</div>
{% endif %}
<!-- content End -->

{% endblock %}