{% extends 'base.html' %}
{% block content %}
{% load shuffle %}
<div class="jumbotron">
  {% if user.is_authenticated %}
  <h1>You are now Logged In</h1>
  {% else %}
  <h1>Please Login In</h1>
  {% endif %}
</div>

<div class="row">
  {% for product in products|shuffle %}
  <div class="col-md-12"><br></div>
  <div class="col-md-4">
      <div class="product-image2">
          <div class="pi-pic">
              <img src="{{product.product_images}}" alt="">
              <div class="sale pp-sale">#1</div>
              <div class="icon">
                  <i class="icon_heart_alt"></i>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="px-text">
          <div class="product-name">{{ product.product_name }}</div>
          <div class="product-store">{{ product.product_source }}</div>
          <div class="product-price">{{ product.product_price }}</div>
          <button><a href="{{ product.product_url }}">前往網站瀏覽</a></button>
      </div>
  </div>
  {% endfor %}



  {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'index' %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'index' %}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}



{% endblock %}
