<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load shuffle %}
{% load static %}
{% load bootstrap3 %}
{% load get_list %}


<!-- Product Shop Section Begin -->
<section class="product-shop spad page-details">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-lg-3 product-sidebar">
        <div class="filter-widget">
          <h4 class="fw-title">所有分類</h4>
          <ul class="filter-catagories">
            {% for category in categories %}
            <li>
              <a href="{% url 'products:categories' category.pk %}">
                {{ category.name }}({{category.products.count}})</a>
              {% if category.subcategory.count != 1 %}
              {% comment %} {% else %} {% endcomment %}
              <i class="list-btn before-active"></i>
              {% endif %}
              <ul class="filter-sub-catagories">
                {% for subcategory in category.subcategory.all %}
                {% if subcategory.slug|lower != category.slug|lower %}
                {% comment %} {% else %} {% endcomment %}
                <li>
                  <a href="{% url 'products:subcategory' subcategory.pk %}">
                    {{ subcategory.subcategory_name }}
                    ({{subcategory.subcategory.count }})
                  </a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
          <div class="hot-product">
            <h4 class="fw-title">熱門商品</h4>
            <div class="product-item">
              <div class="pi-pic">
                <img src="img/products/product-1.jpg" />
                <ul>
                  <li class="quick-view"><a href="#">前往網站瀏覽</a></li>
                </ul>
              </div>
              <div class="pi-text">
                <a href="#">
                  <h5>Pure Pineapple</h5>
                </a>
                <div class="catagory-name">露天拍賣</div>
                <div class="product-price">
                  $14.00
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-5">
            <img class="product-img" src="{{ product.product_images }}" alt="">
            <div class="product-btn">
              <button>
                <a href="{{ product.product_url }}">前往網站瀏覽</a>
              </button>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="product-details">
              <div class="pd-title">
                <div class="product-name">{{ product.product_name }}</div>

                <div class="product-store">
                  {% if product.product_source.slug == "Ruten" %}
                  <div class="catagory-name">露天拍賣</div>
                  {% endif %} {% if product.product_source.slug == "Shopee" %}
                  <div class="catagory-name">蝦皮購物</div>
                  {% endif %} {% if product.product_source.slug == "Yahoo" %}
                  <div class="catagory-name">Yahoo拍賣</div>
                  {% endif %} {% if product.product_source.slug == "ETMall" %}
                  <div class="catagory-name">東森購物</div>
                  {% endif %} {% if product.product_source.slug == "Momo" %}
                  <div class="catagory-name">Momo購物</div>
                  {% endif %}
                </div>
                <div class="product-price">${{ product.product_price }}</div>
                <div class="text-right">
                  <i class="favorite-heart-icon icon_heart_alt"></i>
                </div>

              </div>
            </div>
            <div class="tab-item-content">
              <div class="tab-content">
                <div class="specification-table">
                  {% if overall_rating != 0 %}
                  <table>
                    <tr>
                      <td class="p-catagory">評價總分</td>
                      <td class="rating-point">
                        <span class="integer">{% if overall_rating == 0 %}0{% else %}{{ overall_rating|floatformat:1 }}{% endif %}</span><span class="decimal"></span>/5
                      </td>
                      <td>
                        <div class="pd-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <span>(5)</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-catagory">價格品質評價</td>
                      <td class="rating-point">
                        <span class="integer">{% for key,value in price_rating.items %}
                          {% if value %}
                          {{ value|floatformat:1 }}
                          {% else %}
                          0
                          {% endif %}
                          {% endfor %}</span><span class="decimal"></span>/5
                      </td>
                      <td>
                        <div class="pd-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <span>(5)</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-catagory">購物平台評價</td>
                      <td class="rating-point">
                        <span class="integer">{% for key,value in source_rating.items %}
                          {% if value %}
                          {{ value|floatformat:1 }}
                          {% else %}
                          0
                          {% endif %}
                          {% endfor %}</span><span class="decimal"></span>/5
                      </td>
                      <td class="p-rating">
                        <div class="pd-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <span>(5)</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-catagory">出貨速度評價</td>
                      <td class="rating-point">
                        <span class="integer">{% for key,value in speed_rating.items %}
                          {% if value %}
                          {{ value|floatformat:1 }}
                          {% else %}
                          0
                          {% endif %}
                          {% endfor %}</span><span class="decimal"></span>/5
                      </td>
                      <td>
                        <div class="pd-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <span>(5)</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-catagory">分類</td>
                      <td rowspan="2" colspan="2">
                        <div class="p-stock">
                          {{ product.product_category.name }}
                        </div>
                      </td>
                    </tr>
                  </table>
                  {% else %}
                  <p>此商品尚無評價</p>
                  {% endif %}
                </div>

              </div>
            </div>
          </div>

          <div class="col-lg-12 customer-review-option">
            <div class="row">
              <div class="comment-option">
                <div class="col-lg-12">
                  <h4>評論({{ comment_count }})</h4>
                </div>
                {% for rating in rating_list %}
                <div class="col-lg-12 col-md-12">
                  <div class="co-item">
                    <div class="avatar-pic">
                      <img src="img/product-single/avatar-1.png" alt="" />
                    </div>
                    <div class="avatar-text">
                      <div class="at-rating">
                        <span class="point">{{ rating.user_rating|floatformat:1 }}</span><span class="point2">/5</span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                      <h5>{{ rating.user }} <span>{{ rating.created_on }}</span></h5>
                      <div class="at-reply">
                        <p>
                          {% if rating.comment is None %}

                          {% else %}
                          {{ rating.comment }}
                          {% endif %}
                        </p>
                      </div>
                    </div>
                  </div>
                  {% if rating.user == request.user %}
                  <div class="text-right">
                    <button class="btn btn-warning"><a href="#">修改評價</a></button>
                    <button class="btn btn-danger"><a href="{% url 'products:delete_rating' rating.product.pk rating.pk %}">刪除評價</a></button>
                  </div>

                  {% endif %}
                </div>
                <hr>
                {% endfor %}

                <div class="col-lg-12 text-right product-details-page">
                  <p>
                    <span class="current-page-number">{{ rating_list.number }}</span>
                    /
                    <span class="total-page-number">{{ rating_list.paginator.num_pages }}</span>
                  </p>
                  {% if rating_list.has_previous %}
                  <button class="page-prev"><a href="?{% url_replace next_page=product_list.previous_page_number %}">&lt;</a></button>
                  {% else %}
                  <button class="page-prev">&lt;</button>
                  {% endif %}
                  {% if rating_list.has_next %}
                  <button class="page-next"><a href="?{% url_replace next_page=product_list.next_page_number %}">&gt;</a></button>
                  {% else %}
                  <button class="page-next">&gt;</button>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="personal-rating">
                            <h6>Your Ratind</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div> -->
          {% if request.user.is_authenticated %}
          <div class="col-lg-12 customer-review-option">
            <div class="leave-comment">
              <h4>留下你的評價</h4>
              <form action="{% url 'products:product_detail' product.pk %}" class="comment-form" method="POST">

                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-12">
                    <table>
                      <tr>
                        <td class="rating-catagory">價格品質</td>
                        <td class="rating-point">
                          <span id="price-rating-span">1</span>/5
                        </td>
                        <td>
                          <div class="add-rating">
                            {{ form.price_rating }}
                            <!-- <input type="hidden" name="price_comment" value="1" id="price-rating" /> -->
                            <i class="rating-star fa fa-star" id="price-star"></i>
                            <i class="rating-star fa fa-star-o" id="price-star"></i>
                            <i class="rating-star fa fa-star-o" id="price-star"></i>
                            <i class="rating-star fa fa-star-o" id="price-star"></i>
                            <i class="rating-star fa fa-star-o" id="price-star"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="rating-catagory">購物平台</td>
                        <td class="rating-point">
                          <span id="store-rating-span">1</span>/5
                        </td>
                        <td>
                          <div class="add-rating">
                            {{ form.source_rating }}
                            <!-- <input type="hidden" name="source_comment" value="1" id="store-rating" /> -->
                            <i class="rating-star fa fa-star" id="store-star"></i>
                            <i class="rating-star fa fa-star-o" id="store-star"></i>
                            <i class="rating-star fa fa-star-o" id="store-star"></i>
                            <i class="rating-star fa fa-star-o" id="store-star"></i>
                            <i class="rating-star fa fa-star-o" id="store-star"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="rating-catagory">出貨速度</td>
                        <td class="rating-point">
                          <span id="delivery-rating-span">1</span>/5
                        </td>
                        <td>
                          <div class="add-rating">
                            {{ form.speed_rating }}
                            <i class="rating-star fa fa-star" id="delivery-star"></i>
                            <i class="rating-star fa fa-star-o" id="delivery-star"></i>
                            <i class="rating-star fa fa-star-o" id="delivery-star"></i>
                            <i class="rating-star fa fa-star-o" id="delivery-star"></i>
                            <i class="rating-star fa fa-star-o" id="delivery-star"></i>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>

                  <div class="col-lg-12">
                    {{ form.comment }}
                    <!-- <textarea name="comment" placeholder="寫下你的評論......"></textarea> -->
                  </div>
                  <div class="col-lg-12 submit-part">
                    <button type="submit" class="site-btn">送出</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Product Shop Section End -->


{% endblock %}