{% extends 'base.html' %}
{% block content %}
{% load shuffle %}
{% load static %}
{% load bootstrap3 %}
{% load get_list %}

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="./index.html"><i class="fa fa-home"></i> 首頁</a>
                        <span>討論區</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Forum Section Begin -->
    <div class="forum-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="forum-title">
                        <h4>討論區</h4>
                        <p>我們蒐集了大家的回饋整理出來並回覆，若有其他問題，可以到<a href="{% url 'contact_us' %}">這裡</a>回饋給我們喔！</p>
                    </div>
                    <div id="accordion">
                    {% for feedback in feedbacks %}
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapse{{ forloop.counter0 }}">
                                    <span class="username">{{feedback.name}}</span>
                                </a>
                            </div>
                            <div id="collapse{{ forloop.counter0 }}" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p class="date">{{feedback.added_at}}</p>
                                    <p class="content">{{feedback.feedback}}</p>
                                </div>
                            </div>
                        </div>   
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Forum Section End -->

{% endblock %}